---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_globex_ai_poc_globex_application_name }}
  namespace: {{ ocp4_workload_globex_ai_poc_globex_application_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_globex_ai_poc_globex_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 10
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
  source:
    repoURL: {{ ocp4_workload_globex_ai_poc_globex_gitops_repo }}
    targetRevision: {{ ocp4_workload_globex_ai_poc_globex_gitops_repo_tag }}
    path: {{ ocp4_workload_globex_ai_poc_globex_gitops_repo_path }}
    helm:
      valuesObject:
        kafka:
          name: &kafkaName {{ ocp4_workload_globex_ai_poc_globex_kafka_broker_name }}
          namespace: &namespace {{ ocp4_workload_globex_ai_poc_globex_kafka_broker_namespace }}

        kafka-cluster: &kafka
          bootstrapServer: {{ ocp4_workload_globex_ai_poc_globex_kafka_broker_name }}-kafka-bootstrap.{{ ocp4_workload_globex_ai_poc_globex_kafka_broker_namespace }}.svc.cluster.local:9092
          securityProtocol: {{ ocp4_workload_globex_ai_poc_globex_kafka_security_protocol }}
          saslMechanism: {{ ocp4_workload_globex_ai_poc_globex_kafka_sasl_mechanism }}
          clientId: {{ ocp4_workload_globex_ai_poc_globex_kafka_client_id }}
          clientSecret: {{ ocp4_workload_globex_ai_poc_globex_kafka_client_secret }}

        kafka-broker:
          namespace: *namespace
          nameOverride: *kafkaName

        kafka-topics:
          kafka:
            namespace: *namespace
            cluster: *kafkaName

        globex-db:
          pgsql:
            adminPassword: adminpassword

        mail-mcp:
          route:
            enabled: true
          mailserver:
            host: {{ ocp4_workload_globex_ai_poc_mail_server_application_name }}.{{ ocp4_workload_globex_ai_poc_mail_server_namespace }}.svc.cluster.local

        review-processor:
          kafka:
            <<: *kafka

          llm:
            moderation:
              modelName: {{ ocp4_workload_globex_ai_poc_moderation_llm_model_name }}
              apiKey: {{ ocp4_workload_globex_ai_poc_moderation_llm_api_key }}
              baseUrl: {{ ocp4_workload_globex_ai_poc_moderation_llm_base_url }}
            emailWriter:
              modelName: {{ ocp4_workload_globex_ai_poc_emailwriter_llm_model_name }}
              apiKey: {{ ocp4_workload_globex_ai_poc_emailwriter_llm_api_key }}
              baseUrl: {{ ocp4_workload_globex_ai_poc_emailwriter_llm_base_url }}
            sentiment:
              modelName: {{ ocp4_workload_globex_ai_poc_sentiment_llm_model_name }}
              apiKey: {{ ocp4_workload_globex_ai_poc_sentiment_llm_api_key }}
              baseUrl: {{ ocp4_workload_globex_ai_poc_sentiment_llm_base_url }}              

          mcp:
            mail:
              url: http://mail-mcp.{{ ocp4_workload_globex_ai_poc_globex_namespace }}.svc.cluster.local:8080/mcp
          
          customerAPI:
            url: http://globex-store-app.{{ ocp4_workload_globex_ai_poc_globex_namespace }}.svc.cluster.local:8080

          mongodb:
            connectionString: mongodb://mongodb.{{ ocp4_workload_globex_ai_poc_mongodb_namespace }}.svc.cluster.local:27017
            database: {{ ocp4_workload_globex_ai_poc_mongodb_databases | first }}
            collection: {{ ocp4_workload_globex_ai_poc_reviews_mongo_collection }}
            username: {{ ocp4_workload_globex_ai_poc_mongodb_user_names | first }}
            password: {{ ocp4_workload_globex_ai_poc_mongodb_user_passwords | first }}

        review-summarizer:
          kafka:
            <<: *kafka

          mongodb:
            connectionString: mongodb://mongodb.{{ ocp4_workload_globex_ai_poc_mongodb_namespace }}.svc.cluster.local:27017
            database: {{ ocp4_workload_globex_ai_poc_mongodb_databases | first }}
            username: {{ ocp4_workload_globex_ai_poc_mongodb_user_names | first }}
            password: {{ ocp4_workload_globex_ai_poc_mongodb_user_passwords | first }}
            collection:
              reviews: {{ ocp4_workload_globex_ai_poc_reviews_mongo_collection }}
              summary: {{ ocp4_workload_globex_ai_poc_summary_mongo_collection }}

          llm:
            summary:
              modelName: {{ ocp4_workload_globex_ai_poc_summary_llm_model_name }}
              apiKey: {{ ocp4_workload_globex_ai_poc_summary_llm_api_key }}
              baseUrl: {{ ocp4_workload_globex_ai_poc_summary_llm_base_url }}
 