---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_globex_ai_poc_app_application_name }}
  namespace: {{ ocp4_workload_globex_ai_poc_app_application_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_globex_ai_poc_app_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 10
    syncOptions:
      - RespectIgnoreDifferences=true
  source:
    repoURL: {{ ocp4_workload_globex_ai_poc_app_gitops_repo }}
    targetRevision: {{ ocp4_workload_globex_ai_poc_app_gitops_repo_tag }}
    path: {{ ocp4_workload_globex_ai_poc_app_gitops_repo_path }}
    helm:
      valuesObject:
        amqstreams:
          source:
            helm:
              values:
                kafka-broker:
                  kafka:
                    listener:
                      external:
                        tls:
                          secret:
                            value:
                              crt: {{ ocp4_workload_globex_ai_poc_openshift_ingress_cert }}
                              key: {{ ocp4_workload_globex_ai_poc_openshift_ingress_key }}
                amq-streams-console:
                  subdomain: {{ r_openshift_subdomain }}
        keycloak:
          source:
            helm:
              values:
                keycloak:
                  route:
                    host: {{ ocp4_workload_globex_ai_poc_rhbk_host }}.{{ r_openshift_subdomain }}
        mongodb:
          source:
            helm:
              values:
                auth:
                  rootPassword: {{ ocp4_workload_globex_ai_poc_mongodb_root_password }}
        globexai:
          source:
            helm:
              values:
                mail-mcp:
                  oidc:
                    authServer: https://{{ ocp4_workload_globex_ai_poc_rhbk_host }}.{{ r_openshift_subdomain }}

                review-processor:
                  llm:
                    moderation:
                      modelName: {{ ocp4_workload_globex_ai_poc_moderation_llm_model_name }}
                      apiKey: {{ ocp4_workload_globex_ai_poc_moderation_llm_api_key }}
                      baseUrl: {{ ocp4_workload_globex_ai_poc_moderation_llm_base_url }}
                    emailWriter:
                      modelName: {{ ocp4_workload_globex_ai_poc_emailwriter_llm_model_name }}
                      apiKey: {{ ocp4_workload_globex_ai_poc_emailwriter_llm_api_key }}
                      baseUrl: {{ ocp4_workload_globex_ai_poc_emailwriter_llm_base_url }}
                    sentiment:
                      modelName: {{ ocp4_workload_globex_ai_poc_sentiment_llm_model_name }}
                      apiKey: {{ ocp4_workload_globex_ai_poc_sentiment_llm_api_key }}
                      baseUrl: {{ ocp4_workload_globex_ai_poc_sentiment_llm_base_url }}              

                  oidc:
                    authServer: https://{{ ocp4_workload_globex_ai_poc_rhbk_host }}.{{ r_openshift_subdomain }}
                    clientSecret: {{ ocp4_workload_globex_ai_poc_rhbk_client_mcp_secret }}

                review-summarizer:
                  llm:
                    summary:
                      modelName: {{ ocp4_workload_globex_ai_poc_summary_llm_model_name }}
                      apiKey: {{ ocp4_workload_globex_ai_poc_summary_llm_api_key }}
                      baseUrl: {{ ocp4_workload_globex_ai_poc_summary_llm_base_url }}

                keycloak-realmimport-mcp:
                  client:
                    mcp:
                      secret: {{ ocp4_workload_globex_ai_poc_rhbk_client_mcp_secret }}

                globex-web:
                  sso:
                    authServer: https://{{ ocp4_workload_globex_ai_poc_rhbk_host }}.{{ r_openshift_subdomain }}
                  subdomain: {{ r_openshift_subdomain }}

