---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_globex_ai_poc_mongodb_application_name }}
  namespace: {{ ocp4_workload_globex_ai_poc_mongodb_application_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_globex_ai_poc_mongodb_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 10
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
      - ApplyOutOfSyncOnly=true
  source:
    repoURL: {{ ocp4_workload_globex_ai_poc_mongodb_helm_repo }}
    chart: {{ ocp4_workload_globex_ai_poc_mongodb_helm_chart }}
    targetRevision: {{ ocp4_workload_globex_ai_poc_mongodb_helm_version }}
    helm:
      valuesObject:
        global:
          security:
            allowInsecureImages: true
        architecture: {{ ocp4_workload_globex_ai_poc_mongodb_architecture }}
        image:
          registry: {{ ocp4_workload_globex_ai_poc_mongodb_image_registry }}
          repository: {{ ocp4_workload_globex_ai_poc_mongodb_image_repository }}
          tag: {{ ocp4_workload_globex_ai_poc_mongodb_image_tag }}
        podSecurityContext:
          enabled: false
          fsGroup: ""
        containerSecurityContext:
          runAsUser: 1001080001       
        auth:
          rootPassword: {{ ocp4_workload_globex_ai_poc_mongodb_root_password }}
          usernames: {{ ocp4_workload_globex_ai_poc_mongodb_user_names | to_json }}
          passwords: {{ ocp4_workload_globex_ai_poc_mongodb_user_passwords | to_json }}
          databases: {{ ocp4_workload_globex_ai_poc_mongodb_databases | to_json }}
